body{
    background-image:url("nza_background.jpg")
}

.container{
    background-color: white;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 0px 50px 0px 50px;
}

.login{
    color: white;
    background-color: lightgray;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin: 0px;
    padding: 5px;
    width: 50px;
}

.nav{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 20px 0px 20px 0px;
}

.nav-link{
    color: black;
    padding: 0px;
    margin: 10px 0px 10px 0px;
    border-right: 1px solid  lightgray;
    font-size: 20px;
}

.cs{
    border: none;
}

.main{
    border-bottom: 2px solid black;
}

.list{
    list-style-type: none;
    text-decoration: none;
    display: inline-flex;
    padding: 0px;
}

hr{
    width: 100%;
    padding: 0px 10px 0px 10px;
}

li{
    margin: 5px 10px 0px 10px;
}

.link{
    color: black;
    text-decoration: none;    
}
#contact_us{
    background-image: url("nav_side.jpg");
    text-align: flex-start;
    color: whitesmoke;
    border: 1px white;
}

#hours{
   
    text-align: flex;
  

    

}
#map{
    background-image: url("other_links_background.jpg");
    text-align: start;
    
}